[submodule "test"]
	path = test
	url = https://github.com/mcbialy/mbialasz-submodule2
[submodule "mbialasz-submodule3"]
	path = mbialasz-submodule3
	url = https://github.com/mcbialy/mbialasz-submodule3
